-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include: 
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1,  @saved_ratings.nil? == false && @saved_ratings.has_key?(rating) == true ? true : false
  = submit_tag 'Refresh'

%table#movies
  %thead
    %tr
      %th#title_header{ :class => should_hilite("title") }= link_to "Movie Title", movies_path({:sort=>"title", :ratings=>@saved_ratings})
      %th Rating
      %th#release_date_header{ :class => should_hilite("release_date") }= link_to "Release Date", movies_path({:sort=>"release_date", :ratings=>@saved_ratings})
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
